<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="robots" content="noindex,nofollow">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@@title</title>

    @@include("./head/_favicons.html")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="{{var_path_env}}css/site.css" rel="stylesheet" />
</head>

<body>
    @@include("./_svg-sprites.html")

    <div class="wrapper-page">
        <header class="header-page py-2 p-md-0">
            <div class="container">
                <nav class="navbar navbar-expand-md p-0">
                    <a class="mr-auto hide-md" href="#">HeaderLogo</a>

                    <button class="navbar-toggler" 
                        type="button" 
                        data-toggle="collapse"
                        data-target="#headerPageNavbar" 
                        aria-controls="headerPageNavbar"
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                        <span class="navbar-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="headerPageNavbar">
                        <div class="row align-items-md-center">
                            <div class="col-12 col-md-4 col-lg-3 col-xl-4">
                                <ul class="header-page-nav d-flex flex-column flex-md-row m-0 p-0">
                                    <li class="header-page-nav-item">
                                        <a class="header-page-nav-link is-active" href="#">
                                            Photos
                                        </a>
                                    </li>
                                    <li class="header-page-nav-item">
                                        <a class="header-page-nav-link" href="#">
                                            Videos
                                        </a>
                                    </li>
                                    <li class="header-page-nav-item">
                                        <a class="header-page-nav-link" href="#">
                                            Podcasts
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3 col-xl-2 order-md-1">
                                <ul class="header-page-nav d-flex flex-column flex-md-row justify-content-md-end m-0 p-0">
                                    <li class="header-page-nav-item dropdown">
                                        <a class="header-page-nav-link dropdown-toggle" 
                                            href="#"
                                            role="button" 
                                            data-toggle="dropdown" 
                                            aria-expanded="false">
                                            <span class="dropdown-toggle-item">
                                                English
                                                <svg class="dropdown-toggle-icon">
                                                    <use xlink:href="#svg-chevron"></use>
                                                </svg>
                                            </span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">English</button>
                                            <button class="dropdown-item" type="button">Українська</button>
                                        </div>
                                    </li>
                                    <li class="header-page-nav-item">
                                        <a class="header-page-nav-link" href="#">
                                            Sign in
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-5 col-lg-6 col-xl-6">
                                <form class="formsearch">
                                    <input class="form-control border-0 rounded-pill formsearch-input" 
                                        type="search" 
                                        placeholder="Search for anything..." 
                                        aria-label="Search">

                                    <button class="formsearch-submit rounded-pill rounded-left btn-reset" type="submit" aria-label="Search">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 20L16.05 16.05M18 11C18 14.866 14.866 18 11 18C7.13401 18 4 14.866 4 11C4 7.13401 7.13401 4 11 4C14.866 4 18 7.13401 18 11Z" stroke="#666666" stroke-width="2" stroke-linecap="square"/>
                                        </svg>                                                    
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>