<figure class="card">
    <div class="card-media">
        <img class="card-media-item" src="./img/@@img_name.jpg" alt="@@title" loading="lazy">
    </div>
    <div class="card-body">
      <h4 class="card-title">@@title</h4>
      
      <p class="card-text js_textClamp">
        @@text
      </p>
    </div>

    <div class="card-footer">
        <button class="btn btn-warning" type="button">Save to collection</button>
        <button class="btn btn-outline btn-outline-secondary" type="button">Share</button>
    </div>
</figure>