.cards {
    
    &-holder {
        padding-top: 2rem;
        padding-bottom: 2rem;

        @media(min-width: $md) {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
        }
    }

    &-header {
        margin-bottom: 2rem;

        &-title {
            margin-bottom: 0.125rem;
        }
    }
}

.card {
    flex: 1 0 auto;
    border-color: var(--brand-secondary);
    border-radius: 0.5rem;
    background: var(--brand-white);

    &:last-child {
        margin-bottom: 0
    }

    &-title {
        margin-bottom: 0.1875rem;
    }

    &-media {
        position: relative;
        padding-top: 56.215%;
        border-radius: 0.5rem;
        overflow: hidden;

        &:first-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        &-item  {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-text {
        margin-bottom: 0.5rem;

        &.js_textClamp {
            -webkit-line-clamp: 2;
        }
    }

    &-body,
    &-footer {
        border-color: var(--brand-secondary);
    }

    &-body {
        padding: 1rem 1.4375rem 1.25rem;
    }

    &-footer {
        padding: 1rem 0.9375rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        background: transparent;
    }

    :last-child {
        margin-bottom: 0;
    }
}
