.filters {
    position: sticky;
    top: 10px;

    &-control {
        @extend .btn-reset;
        padding: 7px 12px 9px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 8px;
        color: inherit;
        font-weight: 700;
        transition: 0.25s ease-in-out;

        &:hover {

            @media #{$hover-mouse} {
                color: var(--brand-white);
                background: var(--brand-warning);
            }
        }

        &:active {
            transition: 0s;
            color: var(--brand-white);
            background: var(--brand-dark);
        }

        &.is-active {
            color: var(--brand-white);
            background: var(--brand-warning);
            pointer-events: none;
            cursor: default;
        }
    }
}
