.wrapper-page {
    min-height: 100vh;
    min-height: 100svh;
    width: 100%;
    display: flex;
    flex-direction: column;

    > * {
        width: 100%;
    }

    .main-page {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        min-height: 6.25rem;
    }
}
