.formsearch {
    position: relative;

    &-input {
        padding-left: 44px;
        min-height: 40px;
        background: var(--input-bg);

        &:focus {
            background: var(--input-focus-bg);
        }
    }

    &-submit {
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        height: 100%;
        padding-left: 12px;
        display: flex;
        align-items: center;
        // justify-content: center;
        border: 0;
        background: transparent;
        box-shadow: none;

        &:hover {
            
            @media #{$hover-mouse} {
                background: rgba(#000, 0.05);
            }
        }

        &:active {
            background: rgba(#000, 0.15);
        }
    }
}
