.formsearch {
    position: relative;

    &-input {
        padding: 0.4375rem 1rem 0.5625rem 2.75rem;
        min-height: 2.5rem;
        background: var(--input-bg);

        &:focus {
            background: var(--input-focus-bg);
        }
    }

    &-submit {
        position: absolute;
        top: 0;
        left: 0;
        width: 3rem;
        height: 100%;
        padding-left: 0.75rem;
        display: flex;
        align-items: center;
        border: 0;
        background: transparent;
        box-shadow: none;

        &:hover {
            
            @media #{$hover-mouse} {
                background: rgba(#000, 0.05);
            }
        }

        &:active {
            background: rgba(#000, 0.15);
        }
    }
}
