.btn-reset {
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
}

.btn {
    padding: 0.375rem 1rem 0.5rem 0.9375rem;
    min-width: 4.6875rem;
    font-weight: 700;
    border-radius: 0.5rem;

    &-warning {
        color: var(--brand-white);
        border-color: var(--brand-warning);
        background: var(--brand-warning);

        &:hover,
        &:focus {
            color: var(--brand-white);
            border-color: var(--brand-warning-hover);
            background: var(--brand-warning-hover);
        }
    }

    &-outline {
        padding: 0.3125rem 0.875rem 0.4375rem;
        border-width: 0.125rem;

        &-secondary {
            border-color: var(--brand--btn-secondary);
            color: var(--brand-dark);

            &.active {
                pointer-events: none;
                color: var(--brand-white) !important;
                border-color: var(--brand-dark) !important;
                background: var(--brand-dark) !important;
            }
        }
    }
    
    &-text {
        color: var(--brand-dark);
        font-weight: 500;
        
        &:hover {

            @media #{$hover-mouse} {
                color: var(--brand-warning);
            }
        }

        &:active {
            color: var(--brand-warning);

            @media #{$hover-mouse} {
                color: var(--brand-dark);
            }
        }
    }

    &:active {
        transition: 0s linear;
        color: var(--brand-white) !important;
        background: var(--brand-dark) !important;
    }
}
