.dropdown-toggle {
    position: relative;

    &:after {
        display: none;
    }

    &-item {
        position: relative;
        display: inline-block;
        padding-right: 1.5625rem;
    }

    &-icon {
        position: absolute;
        top: calc(50% + 0.0625rem);
        right: 1px;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: unset;
        stroke: currentColor;
    }
}
