.dropdown-toggle {
    position: relative;

    &:after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 1.5rem;
        height: 1.5rem;
        background: url(../../img/icon-chevron-down.svg) no-repeat center/contain;
        border: 0;
        margin: 0;
        vertical-align: unset;
        transform: translate(0, -50%);
    }
}
