

// Toggle switch
.theme-switch__input,
.theme-switch__label {
	position: fixed;
    bottom: 15px;
    right: 15px;
	z-index: 1;
	margin: 0;
    user-select: none;
}

.theme-switch__input {
	opacity: 0;
	
	&:hover,
	&:focus {
		+ .theme-switch__label {
			background-color: #778899;
		}
		
		+ .theme-switch__label span::after {
			background-color: lighten(#add8e6, 10%);
		}
	}
}

.theme-switch__label {
	transition: background-color 200ms ease-in-out;
	width: 80px;
	height: 40px;
	border-radius: 50px;
	text-align: center;
	background-color: #708090;
	box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);
    cursor: pointer;
	
	&::before,
	&::after {
		font-size: 1.3rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 9;
		line-height: 1;
	}
	
	&::before {
		content: '\263E';
		right: 14px;
		// margin-right: 10px;
		color: #ffa500;
	}
	
	&::after {
		content: '\263C';
		left: 10px;
		// margin-left: 10px;
		color: #40e0d0;
	}
	
	span {
		position: absolute;
		bottom: calc(100% + 10px);
		left: 0;
		width: 100%;
	}
	
	span::after {
		position: absolute;
		top: calc(100% + 15px);
		left: 5px;
		width: 30px;
		height: 30px;
		content: '';
		border-radius: 50%;
		background-color: #add8e6;
		transition: transform 200ms, background-color 200ms;
		box-shadow: -3px 3px 8px rgba(#000, 0.4);
	}
}

// Checked label styles
.theme-switch__input:checked ~ .theme-switch__label {
	background-color: #778899;
	
	&::before {
		color: #40e0d0;
	}
	
	&::after {
		color: #ffa500;
	}
	
	span::after {
		transform: translate3d(40px, 0, 0);
	}
}
